html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    /* border: 5px solid red; */
}
.posted {
    text-align: center;
    font-size: 0.8rem;
    color: 1px solid red;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.leftheader {
    flex-basis: 40%;
    text-align: right;
    padding-right: 0.5rem;
}
.rightheader {
    flex-basis: 60%;
    padding-left: 0.5rem;
    margin-top: 3.75rem
}
.rightheader h1{
    margin: 0;
    color: blue;
}
.rightheader p {
    margin-top: 0.5rem;
}
nav {
    border-bottom:1px solid palevioletred;
    border-top:1px solid palevioletred;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: #A51F10;
    display: block;
    padding: 0.5rem 1rem;

}
nav a:hover {
    background-color: black;
    color: greenyellow;
    text-decoration: none;
}
article {
    margin: 2rem 0;
    /* border: 3px solid blue; */
}
article img {
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 3rem;
}
article:after {
    content: "";
    display: table;
    clear: both;
}
section {
    border-bottom: 1px solid red;
    margin-bottom: 0.3rem;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px slid red;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li{
    display: inline-block;
}